
body {
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "footer";
}

header{
    grid-area: header;
}


main{
    grid-area: main;
}

aside{
    padding: 5% 10%;
    grid-area: aside;
    padding-top:40px;

}

footer{
    height:20px;
    padding: 5% 10%;
    background-color: #333;
    color: rgb(223, 223, 223);
    font-size: 15px;
    z-index: 5;
    grid-area: footer;
}

span{
    font-weight: 600;
    line-height: 2em;
}

h1,h2,h3,p{
    line-height: 1.5em;
}

img{
    max-width: 100%;
}

figcaption{
    color:black;
}

.navigation{
    width: 100%; 
    justify-items: center;
}


ul {
    list-style-type: none;
    overflow: hidden;
}
 
li {
    margin-top:25px; 
    line-height: 1.2em;
}
 
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 26px;
    text-decoration: none;
}
 
li a:hover:not(.active)  {
    color:white;
    background-color: #333;
}

li a.active{
    color: #006151;
    text-decoration: underline;
}

li a.active:hover{
    color: #333;
}

.logo{
    width:25%;
    top: 10px;
    position: center;
}

#banner {
    background-color: black;
    background-image: url("../images/photo4.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height:400px;
}


.content h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5em;
    width: 80%;
    color: #333;
    background-color: rgba(250,250,250);
    position: relative;
    top: 120px;
    margin: 0 auto;
    padding:10px 20px;
    animation-iteration-count: 1;
    animation: colorchange 2s linear;
}



@keyframes colorchange {
	from { color: #006151; }
	to { color: #333; }
}

@media (prefers-reduced-motion) {
    h1 {
      animation: none;
    }
  }


.containerone{
    display:grid;
    position: relative;
    padding:5% 10%;
    background-color:#333; 
}

.containerone figcaption{
    color:white;
}


h1{
    font-size: 45px;
    font-style:bold;
    margin:15px 0;
 }

 h2{
    font-size: 30px;
    font-style:bold;
    margin:15px 0;
 }

 h3{
    font-size: 20px;
    font-style:bold;
    margin:10px 0;
 }

 img{
    width:100%;
  }

 .containerone h1{
    color:white;
 }

 .containerone p{
    color:rgb(210, 210, 210);
    position: center;
    padding-top:40px;
 }

div.right img{
    margin:10px;
    padding:5px;
    width: 100%;
    height: auto;
    border:3px solid #333;
}

div.right img:hover,
.containertwo img:hover{
    border:3px solid #006151;
}

 .right figure,
 .left figure{
    padding:10px;
 }

 .containertwo{
    display:grid;
    position: relative;
    padding:5% 10%;
    background-color:rgb(228, 228, 228);
}


.containertwo img{
    margin:10px;
    padding:5px;
    height: 450px;
    width:100%;
    border:3px solid rgb(228, 228, 228);
}


.right p{
    padding: 40px;
}

.containerthree{
    display:grid;
    position: relative;
    padding:5% 10%;
    background-color:white;
}

.containerfour{
    position: relative;
    padding:5% 10%;
    background-color:#FAFFFE;
    text-align: center;
}

.containerfour h1{
    color:white
}

.containergrey{
    position: relative;
    padding:5% 10%;
    background-color:rgb(228, 228, 228);
}

.containergrey img{
    position:center;
    padding:10px;
    margin:5px
}

.containerfive grey{
    padding: 20px 0 ;
    line-height: normal;
}

.gallery{
    position: relative;
    padding:5% 10%;
    background-color:#FAFFFE;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.gallery figure{
    border: 3px solid #FAFFFE;
    width:100%;
}

.gallery img{
    margin:5px;
    padding:5px ;
    width: 97%;
    height:320px;
}



.gallery figcaption{
    font-size: 18px;
    color:#006151;
    padding:10px;
}


.containerwhite{
    position: relative;
    padding:5% 10%;
    background-color:white;
}

.plan{
    display: grid;
    position: relative;
    padding:5% 10%;
    background-color:white;
}

.plan img{
    height:500px;
    width: auto;
    padding: 5px;
    margin:30px 0;
}

.plan h3{
    padding:30px 0;
}

.containergreen{
    display:grid;
    position: relative;
    padding:5% 10%;
    background-color:#FAFFFE;
}

.skip{
    z-index: 100;
}

.skip a{
    background: white;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    position: relative;
    left:-500px;
    top:-40px;
  
  }
  
  .skip a:focus{
    background: white;
    top: 0;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
  }
  
  .skip a:focus, .skip a:active{
    top: 20px;
    left: 0;
  }

  :focus{
    border: 2px solid black;
  }



.contact{
	color:black;
    position: relative;
    padding:5% 10%;
    background-color:white;
}

.contact-form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.contact-form input, .message{
   color:black;
	width: 100%;
    display:block;
    height: 30px;
    margin:5px 0;
  background-color: white;
    border:1px solid gray;
    border-radius: 2px;
    outline: none;
    resize: none;
}

.message{
    margin:30px 0;
    height:120px;
}

.contact-form .name{
    display: flex;
    justify-content: space-between;
}

.name input{
    width: 49%;
    margin: 0;
}


button{
    font-size:20px;
    padding:10px;
    border: none;
}

button:hover{
    background-color:#006151;
    color:white;
}

.contact-form .btn{
    display: block;
    cursor: pointer;
}

aside h3{
    color:#006151;
    font-weight: 600;
}

aside li{
    float:none;
}


  
/* for tablet */
@media all and (min-width: 768px){
     
    main{
        padding-bottom: 25px;
    }


    footer{
        margin-top:-25px;
        margin-bottom:-25px;
    }

    .navigation{
        top:0;
        background-color:rgba(250,250,250,0.92);
        height: 100px;
        display: inline-block;
        z-index: 10;
    }
    
    .logo{
        position: relative;
        left:40px;
        top: 10px;
        width:110px;
        float: left;
    }

    li{
        float: right;
    }

    #banner{
        position: relative;
        height: 700px;
        z-index: -1;
    }

    .content h1 {
        font-size: 45px;
        font-weight: 6px;
        line-height: 70px;
        width: 900px;
        top: 150px;
    }
    
   
    .containerone{
        grid-template:auto 1fr / 1fr 1fr;
    }

    .containertwo, .containerthree{
        grid-template-columns: 1fr 1fr;
    }

    .containerone h1{
        color:white;
        grid-column: 1/3;
        padding: 20px 50px;
     }

     .gallery{
        flex-flow: row wrap;
        justify-content: space-around; 
     }

     .gallery figure{
        width:300px;
        height:200px;
        margin: 20px 0;
     }

     .gallery img{
        width: 95%;
        height:92%;
     }
}


/* for desktop */
@media all and (min-width: 992px){
    body {
        grid-template-columns: 4fr 1fr;
        grid-template-areas:
          "header header"
          "main aside"
          "footer footer";
    }

    .gallery{
       justify-content: flex-start; 
    }

    .gallery figure:hover{
        color:#006151;
        border: 3px solid #006151;
    }

    .plan img:hover{
        border-bottom: 5px solid #ccc;
    }

}

